<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="Create.Board.Review.VO.BoardVO" alias="b"></typeAlias>
		<typeAlias type="Create.Board.Review.VO.LikeVO" alias="l"></typeAlias>
		<typeAlias type="Create.Board.Review.VO.MemberVO" alias="m"></typeAlias>
		<typeAlias type="Create.Board.Review.VO.ReplyVO" alias="r"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="memberMapper.xml"></mapper>
		<mapper resource="boardMapper.xml"></mapper>
	</mappers>
</configuration>
