* {box-sizing: border-box;}
body {
	font-family: Verdana, sans-serif;
	height: 627.200;
	width: 1503.200;}


.header .searchbar a {
	color: #aaa;
	font-weight: 700;
	margin: 0 15px 0 15px;
	font-size: 1.4em;
}
/* -------------------------------그룹피드임ㅁ미당-------------------------------- */
/* ----------------------------글쓰기 폼 css끝------------------------------- */
* {
  outline:none;
	border:none;
	margin:0px;
	padding:0px;
}

#paper {
	color:#333;
	font-size:20px;
}
#margin {
	margin-left:12px;
	margin-bottom:20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 
}
#text {
	overflow:hidden;
	background-color:#FFF;
	color:#33333;
	font-weight:normal;
	font-size:18px;
	resize:none;
	padding: 30 30 30 30;
	background-color: #f6f6f6;
}
.replytext {
	overflow:hidden;
	background-color:#FFF;
	color:#33333;
	font-weight:normal;
	font-size:13px;
	resize:none;
	padding: 10 10 10 10;
	background-color: #f6f6f6;
}
#title {
	background-color:transparent;
	border-bottom:3px solid #f6f6f6;
	border-top:none;
	border-left:none;
	border-right:none;
	color:#33333;
	font-size:20px;
	height:28px;
	font-weight:bold;
	width:320px;
}

#wrapper {
	width:800;
	height:auto;
	margin-left:auto;
    margin-right: 0px;
	margin-top:24px;
	margin-bottom:100px;
}
.btn-default {
  background: #007fff none repeat scroll 0 0;
  border: 1px solid #007fff;
  border-radius: 20px;
  color: #ffffff;
  height: 40px;
  padding: 0 22px;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 11px;
  padding-top: 11px;
  text-decoration: none;
  float: right;
  margin-top: 10px;
}
.btn-default:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #007fff;
  color: #007fff;
}
/* ----------------------------글쓰기 폼 css끝------------------------------- */
.feedall {
  position: relative;
  max-width: 800px;
  margin: auto;
  top:200;
  z-index: 1;
}
.item {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
/* -------------------------------그룹피드임ㅁ미당-------------------------------- */

/* 그룹 글에 댓글 등등 보여주기욤 */

.reDel {
	text-align: right;
	width: 20;
}

.boardDel {
	text-align: right;
	width: 20;
}

.boardUpdate {
	text-align: right;
	width: 20;
}

.writedate {
	text-align: right;
	font-size: 12px;
	width: 100;
}

.flip{
  padding: 5px;
  text-align: center;
  background-color: #007fff;
  color: white;
}
.flip2{
  padding: 5px;
  text-align: center;
  background-color: #e100ff;
  color: white;
}
.panel, .panel2{
  padding: 5px;
  text-align: center;
  background-color: #f6f6f6;
  display: none;
}
